/* Reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/*NAV & HEADER*/

#header-top {
  padding: 30px 0;
  background-color: #255ee9;
}

#wrapper-nav {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  color: #ffffff;
}

#wrapper-nav div {
  flex-basis: 20%;
  padding: 10px;
}

#wrapper-nav .logo {
  display: flex;
  align-items: center;
}

#wrapper-nav div.link-navigazione {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

#wrapper-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#wrapper-nav li {
  list-style-type: none;
  margin: 0 10px;
}

#wrapper-nav li a:link,
#wrapper-nav li a:visited {
  color: #ffffff;
  text-decoration: none;
}

#wrapper-nav li a:hover {
  text-decoration: underline;
}

.login {
  display: flex;
  justify-content: flex-end;
}

.login .button {
  font-weight: normal;
  font-size: 1rem;
}


/* "JUMBOTRON" */

#header-bottom {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

#header-bottom .wrapper {
  margin: 0 auto;
  max-width: 55%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-bottom .wrapper h1 {
  font-size: 3.5rem;
}

.title {
  font-size: 3.3rem;
}

/* #header-bottom .wrapper  */
.caption {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 40px 0 20px 0;
}

.wrapper#btn {
  display: flex;
  width: 60%;
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  background-color: #fff;
  border-radius: 20px;
  color: #000000;
  font-size: 1.3rem;
  padding: 20px;
}

#header-bottom .button:last-child {
  background-color: #000000;
  color: #ffffff;
}


.down-arrow::before {
  content: "\2193 \00A0";
}


.wrapper {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}

/* MAIN */

main section {
  background-color: #fff;
  padding: 60px 0;
}

main section:nth-child(even) {
  background-color: #d3d3d3;
}


.main-content {
  flex-basis: 60%;
  padding: 60px 0;
  height: 600px;
  /* background-color: #1e90ff; */
}

.sidebar {
  flex-basis: 40%;
  padding: 30px 100px;
  height: 600px;
  /* background-color: #ffc0cb; */
}

.big.wrapper {
  /* background-color: green; */
  height: 900px;
  max-width: 1110px;
  flex-direction: column;
  align-items: center;
}

.big.wrapper .top {
  text-align: center;
}


.big.wrapper .bottom .title {
  font-size: 2rem;
  padding: 40px;
  background-image: url('../img/stars.svg');
  background-repeat: no-repeat;
}

.button.darkslateblue {
  width: fit-content;
  margin: 0 auto;
  background-color: #8ea1e1;
  color: #ffffff;
}


.item1,
.item2 {
  width: 80%;
}


/* FOOTER */

footer {
  background-color: #23272a;
  padding-top: 10px;
  color: #ffffff;
}

footer section:first-child {
  padding-bottom: 20px;
}

footer .wrapper.top {
  border-bottom: 2px solid #8ea1e1;
}

footer .sidebar {
  flex-basis: 30%;
  padding: 30px 0;
  height: 450px;
}

footer #social .title {
  width: 300px;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #8ea1e1;
}

footer #social .container {
  display: flex;
  width: fit-content;
  align-items: center;
}

footer #social img {
  width: 40px;
  margin-right: 5px;
}

.rotate {
  display: inline-block;
  transform: rotate(90deg);
  padding-left: 4px;
}

footer .grid {
  flex-basis: 70%; 
  /* height: 600px; */
  display: flex;
  padding: 23px 0;
}

footer .grid .column {
  flex-basis: 25%;
}

footer .grid .column .title {
  color: #8ea1e1;
  font-weight: bold;
  font-size: 1.5rem;
}

footer .grid .column li {
  list-style-type: none;
  margin: 15px 0;
  font-size: 1.2rem;
}

footer .bottom {
  height: 120px;
  padding-bottom: 40px;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

footer .bottom div {
  padding: 10px 0;
  font-size: 1.2rem;
}

footer .bottom .button.darkslateblue {
  padding: 10px;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}